{% extends "account/base.html" %}
{% load i18n %}

<div class="mt-5 pt-5">
 <center> {% block head_title %}{% trans "Sign Out" %}{% endblock %}
</center>
{% block content %}
<div class="container">
 <center>
  <h1 class="mt-5 pt-4">{% trans "Sign Out" %}</h1>

  <p>{% trans 'Are you sure you want to sign out?' %}</p>
  
  <form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <button type="submit" class="btn btn-danger ">{% trans 'Sign Out' %}</button>
  </form>
 </center>
</div>
</div>

{% endblock content %}