{% extends "account/base.html" %}
{% load bootstrap4 %}
{% load static %}
{% load i18n %}

 
<br><br>
<center>{% block head_title %}{% trans "Signup" %}{% endblock %}</center>

{% block content %}
<div class="mt-5 pt-5">
<div class="container pt-3">
  <div class=" card border p-5">
  <h1 class="">{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <input type="submit" value="Sign Up &raquo;" class="btn btn-outline-primary">
  <!-- <button type="submit" >{% trans "Sign Up" %} </button> -->
</form>
</div>
</div>
</div>
{% endblock %}
